name: test diff

on:
  push:
    branches: [ "main" ]
    
jobs:
  flowable_diff:
#    if: ${{ startsWith(github.ref, 'refs/tags/qa') }} || ${{ startsWith(github.ref, 'refs/tags/prod') }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: diff workflow files
        id: diff
        run: |
          git fetch --all
          git ls-remote --heads origin | sed 's?.*refs/heads/??'
          git ls-remote --heads origin | sed 's?.*refs/heads/??' > xyz.txt
          export current=$(tail -1 xyz.txt)
          export previous=$(tail -2 xyz.txt | head -1)
          echo $current
          echo $previous
          git checkout $previous
          git checkout $current
          file_name=$(git diff --name-only $current..$previous terraform/scripts)
          echo "file_name<<EOF" >> $GITHUB_OUTPUT
          echo "$file_name" >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT
          test_diff=$(git diff $current..$previous terraform/scripts)
          echo "test_diff<<EOF" >> $GITHUB_OUTPUT
          echo "$test_diff" >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT
      - name: test
        if: steps.diff.outputs.test_diff != ''
        run: |
          echo "${{ steps.diff.outputs.test_diff }}"
          output_job=${{ github.job }}
          echo "output_job=$output_job" >> $GITHUB_OUTPUT
      - name: slack alert
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_CHANNEL: testing
          SLACK_WEBHOOK: ${{ secrets.NEW_WEBHOOK }}
          SLACK_COLOR: ff0000
          SLACK_MESSAGE: "Files changed - ${{ steps.diff.outputs.file_name }}\n• https://github.com/${{ github.repository }}/actions/runs/${{github.run_id}}/jobs/${{github.job}},   ${{ inputs.commitIds }} ${{ github.head_ref }} <@U04BECLQS4A>, Created New tag ${{ github.repository }}\n• <${{ steps.test-url.outputs.url_test }}|MR to deploy changes to QA>\n• <https://github.com/${{ github.repository }}/releases|GitHub changelog link>"
          SLACK_TITLE: <@U04BECLQS4A> FAILED
          SLACK_USERNAME: Actions
          SLACK_FOOTER: ALert given
