# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    name: A job to say hello
    steps:
      - uses: actions/checkout@v3
      - id: foo
        uses: ./.github/test_composite
        with:
          who-to-greet: 'Mona the Octocat'
      - run: echo random-number ${{ steps.foo.outputs.random-number }}
        shell: bash
      - name: display string
        shell: bash
        run: |
          echo "The string is: ${{ env.MY_STRING }}"
      - name: PR comment with reactions
        uses: thollander/actions-comment-pull-request@v1
        with:
          message: |
            ${{ env.MY_STRING }}
          reactions: eyes, rocket
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: display string
        run: exit 1
      - name: test
        run: echo "fail"
  slack-notification:
    name: Slack notification
    if: always() && (needs.hello_world_job == 'failure')
    runs-on: ubuntu-latest
    steps:
      - name: slack alert
        uses: rtCamp/action-slack-notify@v2
        with:
          SLACK_WEBHOOK: ${{ secrets.TEST_WEBHOOK }}
          SLACK_COLOR: ${{ job.status }}
          SLACK_MESSAGE: testw failed on ${{ github.repository }}, <@U04BECLQS4A>
          SLACK_TITLE: FAILED
          SLACK_USERNAME: Actions
