name: cypress

on:
  push:
    branches: [ "main" ]
    
jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    name: cypress job
    outputs:
      cypress_job: ${{ steps.cypress_step.outputs.filters_log }}
    steps:
      - uses: actions/checkout@v3
      - name: validate tag
        id: validate_tag
        shell: bash
        run: |
          release_date=$(echo "release-20230518" | cut -d'-' -f2)
          current_release_tag=$(echo "qa_20230530_RC7" | cut -d'_' -f2)
          if [[ $release_date != $current_release_tag ]]; then
            exit 1
          fi
      - name: sed output
        id: cypress_step
        shell: bash
        run: |
          cat test_cypress.txt |sed -n 'H; /^Run Finished/h; ${g;p;}' |sed -e '1d' -e '/Recorded/q' |sed '$ d' > raw_text.txt
          filters_log_first=$(sed -e 's/^[[:space:]]*//;s/[[:space:]]*$//' -e '/^$/d' -e '/Run Finished/d' -e 's/│/|/g' -e 's/┌/+/g' -e 's/└/+/g' -e 's/├/+/g' -e 's/┤/+/g' -e 's/┬/+/g' -e 's/┴/+/g' -e 's/─/-/g' -e 's/Spec/|Spec|/g' -e 's/Tests/|Tests|/g' -e 's/Passing/|Passing|/g' -e 's/Failing/|Failing|/g' -e 's/Pending/|Pending|/g' -e 's/Skipped/|Skipped|/g' raw_text.txt)
          filters_log=$(sed -e 's/^[[:space:]]*//;s/[[:space:]]*$//' -e '/^$/d' -e '/Run Finished/d' -e 's/│/|/g' -e 's/┌/+/g' -e 's/└/+/g' -e 's/├/+/g' -e 's/┤/+/g' -e 's/┬/+/g' -e 's/┴/+/g' -e 's/─/-/g' -e 's/Spec/|Spec|/g' -e 's/Tests/|Tests         |/g' -e 's/Passing/|Passing       |/g' -e 's/Failing/|Failing       |/g' -e 's/Pending/|Pending       |/g' -e 's/Skipped/|Skipped       |/g' raw_text.txt)
          echo "filters_log<<EOF" >> $GITHUB_OUTPUT
          echo "$filters_log" >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT
      - run: echo "random-number ${{ steps.cypress_step.outputs.filters_log }}"
        shell: bash
  slack-notification:
    name: Slack notification
    needs: [hello_world_job]
    runs-on: ubuntu-latest
    steps:
      - name: slack alert
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_CHANNEL: testing
          SLACK_WEBHOOK: ${{ secrets.NEW_WEBHOOK }}
          SLACK_COLOR: ff0000
          SLACK_MESSAGE: "${{ needs.hello_world_job.outputs.cypress_job }}"
          SLACK_TITLE: FAILED
          SLACK_USERNAME: Actions
          SLACK_FOOTER: ALert given
