name: cypress

on:
  push:
    branches: [ "main" ]
    
jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    name: cypress job
    steps:
      - uses: actions/checkout@v3
      - name: Download and install hcledit
        run: |
          # Download the hcledit binary
          curl -OL https://github.com/minamijoyo/hcledit/releases/download/v0.2.9/hcledit_0.2.9_linux_amd64.tar.gz

          # Extract the binary
          tar xvzf hcledit_0.2.9_linux_amd64.tar.gz

          # Move the binary to /usr/local/bin (you may need sudo)
          sudo mv hcledit /usr/local/bin/

      - name: Verify hcledit version
        run: hcledit --version

  slack-notification:
    name: Slack notification
    needs: [hello_world_job]
    runs-on: ubuntu-latest
    steps:
      - name: slack alert
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_CHANNEL: testing
          SLACK_WEBHOOK: ${{ secrets.NEW_WEBHOOK }}
          SLACK_COLOR: ff0000
          SLACK_MESSAGE: "${{ needs.hello_world_job.outputs.cypress_job }}"
          SLACK_TITLE: FAILED
          SLACK_USERNAME: Actions
          SLACK_FOOTER: ALert given
